# Ignore everything
*

# Except dotfiles repo files
!.gitignore
!setup.sh
!Brewfile

# Shell
!.zshrc
!zsh/
!zsh/**

# Git
!git/
!git/**

# Neovim
!nvim/
!nvim/**

# Terminal
!ghostty/
!ghostty/config

# Tmux
!tmux/
!tmux/tmux.conf

# Starship
!starship.toml

# Atuin
!atuin/
!atuin/config.toml
